In [4]:
import pandas as pd

In [5]:
from sklearn import metrics

In [6]:
data=pd.read_csv('Advertising.csv')

In [7]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [10]:
feature_cols=['TV','radio','newspaper']
#use the list to select a subset of the original Dataframe
X=data[feature_cols]

#equivalent command to do this in one line
X=data[['TV','radio','newspaper']]

In [9]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [11]:
X.shape

(200, 3)

In [12]:
y=data['sales']

In [13]:
y.shape

(200,)

In [14]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [17]:
#Linear regression in scikit-learn
from sklearn.linear_model import LinearRegression

#instantiate
linreg=LinearRegression()

#fit the model to the training data
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
#interpreting model coefficients

In [19]:
print(linreg.intercept_)
print(linreg.coef_)

2.8769666223179318
[0.04656457 0.17915812 0.00345046]

In [20]:
#pair the features names with the coefficients
list(zip(feature_cols,linreg.coef_))

[('TV', 0.04656456787415029),
 ('radio', 0.17915812245088839),
 ('newspaper', 0.003450464711180378)]

In [21]:
y_pred=linreg.predict(X_test)

In [22]:
print(y_test,y_pred)

58     23.8
40     16.6
34      9.5
102    14.8
184    17.6
198    25.5
95     16.9
4      12.9
29     10.5
168    17.1
171    14.5
18     11.3
11     17.4
89     16.7
110    13.4
118    15.9
159    12.9
35     12.8
136     9.5
59     18.4
51     10.7
16     12.5
44      8.5
94     11.5
31     11.9
162    14.9
38     10.1
28     18.9
193    19.6
27     15.9
47     23.2
165    11.9
194    17.3
177    11.7
176    20.2
97     15.5
174    11.5
73     11.0
69     22.3
172     7.6
108     5.3
107     8.7
189     6.7
14     19.0
56      5.5
19     14.6
114    14.6
39     21.5
185    22.6
124    19.7
Name: sales, dtype: float64 [21.70910292 16.41055243  7.60955058 17.80769552 18.6146359  23.83573998
 16.32488681 13.43225536  9.17173403 17.333853   14.44479482  9.83511973
 17.18797614 16.73086831 15.05529391 15.61434433 12.42541574 17.17716376
 11.08827566 18.00537501  9.28438889 12.98458458  8.79950614 10.42382499
 11.3846456  14.98082512  9.78853268 19.39643187 18.18099936 17.12807566
 21.54670213 14.69809481 16.24641438 12.32114579 19.92422501 15.32498602
 13.88726522 10.03162255 20.93105915  7.44936831  3.64695761  7.22020178
  5.9962782  18.43381853  8.39408045 14.08371047 15.02195699 20.35836418
 20.57036347 19.60636679]

In [26]:
x=sum(abs(y_test-y_pred)**2)

In [25]:
n=len(y_test)

In [27]:
x/n

1.9730456202283368

In [28]:
#mean square error

In [31]:
#root mean squared error
#

In [32]:
import numpy as np

In [33]:
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

1.404651423032895

In [44]:
feature_cols=['TV','radio']

X=data[feature_cols]
y=data.sales

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [46]:
#Linear regression in scikit-learn
from sklearn.linear_model import LinearRegression

#instantiate
linreg=LinearRegression()

#fit the model to the training data
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [47]:
y_pred=linreg.predict(X_test)

In [49]:
print(y_test,y_pred)

58     23.8
40     16.6
34      9.5
102    14.8
184    17.6
198    25.5
95     16.9
4      12.9
29     10.5
168    17.1
171    14.5
18     11.3
11     17.4
89     16.7
110    13.4
118    15.9
159    12.9
35     12.8
136     9.5
59     18.4
51     10.7
16     12.5
44      8.5
94     11.5
31     11.9
162    14.9
38     10.1
28     18.9
193    19.6
27     15.9
47     23.2
165    11.9
194    17.3
177    11.7
176    20.2
97     15.5
174    11.5
73     11.0
69     22.3
172     7.6
108     5.3
107     8.7
189     6.7
14     19.0
56      5.5
19     14.6
114    14.6
39     21.5
185    22.6
124    19.7
Name: sales, dtype: float64 [21.73751851 16.40451622  7.64073276 17.81512707 18.6140367  23.75320401
 16.26267467 13.30968011  9.11623605 17.24121988 14.37997584  9.86630093
 17.28107008 16.70455883 14.93571851 15.47067849 12.39847009 17.21737409
 11.18626133 18.09114847  9.34543641 12.71804909  8.75327159 10.468843
 11.34116649 14.98646893  9.77329331 19.43186663 18.31005062 17.14215851
 21.62609193 14.47149683 16.3536012  12.27215653 19.97488243 15.34878155
 13.90760851  9.99030388 20.98440888  7.482353    3.61019982  7.1944428
  5.99097416 18.39958364  8.35858094 14.12195436 15.05074527 20.38304162
 20.65191677 19.47457534]

In [52]:
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

1.3879034699382886

In [54]:
#ML-Exercise 2

In [55]:
import seaborn as sns

In [57]:
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline
sns.set_style('whitegrid')

In [58]:
iris = sns.load_dataset('iris')

In [59]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [62]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [63]:
iris[iris.species=='setosa']

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [64]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [65]:
iris.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [73]:
iris['petal-area']=iris['petal_length']*iris['petal_width']

In [74]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal-area,prediction
0,5.1,3.5,1.4,0.2,setosa,0.28,setosa
1,4.9,3.0,1.4,0.2,setosa,0.28,setosa
2,4.7,3.2,1.3,0.2,setosa,0.26,setosa
3,4.6,3.1,1.5,0.2,setosa,0.30,setosa
4,5.0,3.6,1.4,0.2,setosa,0.28,setosa

In [75]:
def make_prediction(pa):
    if pa<2:
        prediction='setosa'
    elif pa<7.4:
        prediction='versicolor'
    else:
        prediction='verginica'
    return prediction

In [76]:
iris['prediction']=iris['petal-area'].apply(make_prediction)

In [77]:
x=iris['prediction']==iris['species']

In [78]:
x.value_counts()/len(x)

True     0.64
False    0.36
dtype: float64

In [79]:
feature_cols=['petal_length','petal_width']

X=iris[feature_cols]
y=iris.species

In [80]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [84]:
from sklearn.naive_bayes import GaussianNB

model=GaussianNB()
model.fit(X,y)
# accuracy_score(model.predict(X),y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [82]:
#decision tree is giving best result

In [85]:
model.score(X_test,y_test)

0.9736842105263158

In [86]:
#ML-Exercise3

In [87]:
data=pd.read_csv('TRAIN_SET.csv')
data.head()

,Date,Zone,Day,CodedDay,CodedWeather,Temperature,Realtime
0,2016-02-01 10:00:00,61,Monday,2,30,48,19.983333
1,2015-12-21 10:00:00,61,Monday,2,11,53,20.483333
2,2016-04-18 10:00:00,61,Monday,2,34,64,19.250000
3,2016-04-25 10:00:00,61,Monday,2,23,52,20.183333
4,2016-05-02 10:00:00,61,Monday,2,28,57,17.133333

In [88]:
feature_cols=['Zone','CodedDay','CodedWeather','Temperature']

In [90]:
X=data[feature_cols]
y=data['Realtime']

In [91]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [101]:
from sklearn import linear_model

In [102]:
from sklearn.linear_model import LinearRegression

In [103]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [104]:
y_pred = regressor.predict(X_test)

In [109]:
# metrics.accuracy_score(y_test,y_pred)