In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('data.csv')

C:\Users\Rahul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [4]:
country=['Argentina-Buenos_Aires','Argentina-CABA','Argentina-Catamarca']
df_count1=df.query("location=='Argentina-Buenos_Aires'")

In [5]:
df_count1['data_field_code'].unique()

array(['AR0001', 'AR0002', 'AR0003', 'AR0004', 'AR0005', 'AR0006'],
      dtype=object)

In [6]:
df_count2=df.query("location=='Argentina-CABA'")

In [7]:
df_count2['data_field_code'].unique()

array(['AR0001', 'AR0002', 'AR0003', 'AR0004', 'AR0005', 'AR0006'],
      dtype=object)

In [8]:
df_count3=df.query("location=='Argentina-CABA'")

In [9]:
df_count3['data_field_code'].unique()

array(['AR0001', 'AR0002', 'AR0003', 'AR0004', 'AR0005', 'AR0006'],
      dtype=object)

In [14]:
data_field_code_country=df_count3['data_field_code'].unique()

In [21]:
#for a code

In [23]:
df_count1.head(5)

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [24]:
report_date_count1=df_count1['report_date'].unique()

In [25]:
report_date_count1

array(['2016-03-19', '2016-03-26', '2016-04-02', '2016-04-09',
       '2016-04-16', '2016-04-29', '2016-05-07', '2016-05-14',
       '2016-05-22', '2016-05-30', '2016-06-06', '2016-06-13',
       '2016-06-18', '2016-06-26'], dtype=object)

In [27]:
report_date_count2=df_count2['report_date'].unique()

In [28]:
report_date_count2

array(['2016-03-19', '2016-03-26', '2016-04-02', '2016-04-09',
       '2016-04-16', '2016-04-29', '2016-05-07', '2016-05-14',
       '2016-05-22', '2016-05-30', '2016-06-06', '2016-06-13',
       '2016-06-18', '2016-06-26'], dtype=object)

In [30]:
report_date_count3=df_count3['report_date'].unique()

In [31]:
report_date_count3

array(['2016-03-19', '2016-03-26', '2016-04-02', '2016-04-09',
       '2016-04-16', '2016-04-29', '2016-05-07', '2016-05-14',
       '2016-05-22', '2016-05-30', '2016-06-06', '2016-06-13',
       '2016-06-18', '2016-06-26'], dtype=object)

In [44]:
# gr=df_count1.groupby('data_field_code')
# for code in data_field_code_country:
#     Argentina_Buenos_Aires_value_sum=[]
#     df_count_1=gr.get_group(code)
#     grp=df_count_1.groupby('report_date')
#     for day in report_date_count1:
#         df_date=grp.get_group(day)
#         y=df_date['value'].apply(pd.to_numeric).sum()
#         Argentina_Buenos_Aires_value_sum.append(y)
#         plt.plot(report_date_count1,y)

In [40]:
report_date_count1

array(['2016-03-19', '2016-03-26', '2016-04-02', '2016-04-09',
       '2016-04-16', '2016-04-29', '2016-05-07', '2016-05-14',
       '2016-05-22', '2016-05-30', '2016-06-06', '2016-06-13',
       '2016-06-18', '2016-06-26'], dtype=object)

In [41]:
y

25